html, body {
	height: 100%;
}

body {
	/*background-color: rgba(243,245,249,0.74);*/
	margin: 0; 
	padding: 0;
}

#wrapper {
	position: relative;
	height: 100%;
}


#main-display {
	position: absolute;
	top: 51px;
	width: 100%; 

	/* Firefox */
	height: -moz-calc(100% - 51px);
	/* WebKit */
	height: -webkit-calc(100% - 51px);
	/* Opera */
	height: -o-calc(100% - 51px);
	 /*Standard */
	height: calc(100% - 51px);
}

#map-display {
	position: absolute;
	margin-left: -15px;
	width: 70%;
	height: 100%;
	border: solid 1px silver;
}


#side-display {
	position: absolute;
	left: 70%;
	width: 30%;
	height: 100%;
	/*padding: 5px;*/
	/*border-top: solid 1px silver;*/
	overflow: scroll;

}


.side-box { 
	z-index: 1;
	padding: 0;
	margin: 0;
	height: 150px;
	border: solid 1px black;
	/*margin: 2px 0;*/

	background-position: center center;
	background-size: cover;
	opacity: 0.5;
}

/* Modal css */

.modal-content {
	padding: 30px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-content .row {
	padding: 5px 0;
}

.modal-content .col-xs-2 {
	padding: 0;
	width: 50px;
}

.modal-content .col-xs-10 {
	padding: 0 10px;
}

.modal-img {
	width: 50px;
	height: 50px;
}

.modal-title {
	font-weight:900; 
	font-size:24px;
	/*vertical-align: top*/
	/*line-height: 0;*/
}

.modal-body {
	padding-top: 5px;
}


.modal-requested-items {
	background-color: yellow;
}

.modal-requested-item-img {
	display: block;
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.modal-requested-item-name {
	font-weight:500; 
	font-size:16px;
}

.modal-request-item-count {
	font-size:12px;
}

.modal-requested-item-reasons {
	background-color: red;
}

.modal-button {
	text-align: center;
}

.modal-dialog {
	/*width: 500px;*/
}

button.modal-close-button {
	position: relative;
	top: -45px;
	right: -45px;
	width: 30px;
	height: 30px;
	padding: 6px;
	font-size: 18px;
	color: black;
	background-color: white;
	opacity: 1;
	border-radius: 15px;
}


.auth-content {
	/*padding: 0 250px;*/
	width: 560px;
	position: relative;
	margin: auto;
	/*background-color: yellow;*/
}

.auth-welcome {
	font-size: 30px;
	font-weight:900;
	text-align: center;
	padding: 20px 0;
}
.auth-explanation {
	color: gray;
	font-size: 20px;
	padding: 0 0 15px;
}



.gm-style-iw {
   width: 250px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px;
}


.iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   width: 100%;
   font-size: 12px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

/*#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
/*}*/


/*
.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}*/



/*.bg { 
	position: absolute;
	z-index: -1;
	background-position: center center;
	background-size: cover;
	opacity: 0.5;
}*/
/*
p.org-info {
	padding: 0 4px;
	margin: 0;
	font-size: 13px;
	height: 50px;
}

.org-img {
	text-align: center;
	padding: 2px 0;
}


/* modal css */




