<tr>
 <td align="left"> {{ elem.requestDate }} </td>
 <td align="left"> {{ elem.request1 }} </td>
 <td align="left"> {{ elem.request2 }} </td>
 <td align="left"> {{ elem.request3 }} </td>
 <td align="left"> {{ elem.why1 }} </td>
 <td align="left"> {{ elem.why2 }} </td>
 <td align="left"> {{ elem.why3 }} </td>
 <td align="left"> {{ elem.satisfaction }} </td>
 <td align="left"> {{ elem.additionalItems }} </td>
 <td align="left"> {{ elem.ethnicity }} </td>
 <td align="left"> {{ elem.zipcode }} </td>
 <td align="left"> {{ elem.birthday }} </td>
 <td align="left"> {{ elem.gender }} </td>
 <td align="left"> {{ elem.diet }} </td>
 <td align="left"> {{ elem.religiousDiet }} </td>

</tr>