{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

	<!-- Map Display -->
	<div id="map-display">

	</div>
	<!-- /Map Display -->

	<!-- Side Display -->
	<div id = 'side-display'>
		<!-- <input id='address-input' type='text' value='gangnam'> -->
	</div>
	<!-- /Side Display -->

	<!-- Org modal -->
	<div id="org-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<!-- Modal close button -->
				<button type="button" class="close modal-close-button" data-dismiss="modal">
					<span aria-hidden="true">&#10006;</span>
					<span class="sr-only">Close</span>
				</button>
				<!-- /Modal close button -->

				<!-- Modal header -->
				<div class="modal-header">
					<div class='row'>
						<div class = 'col-xs-2'>
							<img class='modal-img'>
						</div>
						<!-- <div class = 'col-xs-2'> -->
						<div class = 'col-xs-10 modal-title'>
						</div>
					</div>

					<!-- Org explanation -->
					<div class='row'>
						<div class = 'col-xs-2'>
						</div>
						<div class='col-xs-10 modal-explanation'>
						</div>
					</div>

					<!-- /Org explanation -->
				</div>
				<!-- /Modal header -->

				<!-- Modal body -->
				<div class="modal-body">
					<div class='row modal-requested-items'>
			        	<div class='col-xs-2'>
			        		<img class='modal-requested-item-img'>
			        	</div>
			        	<div class='col-xs-10'>
			        		<div class='modal-requested-item-name'>
			        		</div>
			        		<div class='modal-request-item-count'>
			        		</div>
			        	</div>
					</div>
					<div class='row modal-requested-item-reasons'>
					</div>

					<div class='row modal-button'>
						<button type="button" href='#' class="btn btn-default">Donate Now</button>
					</div>
				</div> 
				<!-- /Modal body -->

			</div> 
			<!-- /Modal content -->
		</div>
	</div>
	<!-- /Org modal -->

	<!-- Product modal -->
	<div id="product-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<!-- Modal close button -->
				<button type="button" class="close modal-close-button" data-dismiss="modal">
					<span aria-hidden="true">&#10006;</span>
					<span class="sr-only">Close</span>
				</button>
				<!-- /Modal close button -->

				<!-- Modal body -->
				<div class="modal-body">
					<div class='row'>
						<div class = 'col-xs-2'>
							<img class='modal-img'>
						</div>
						<!-- <div class = 'col-xs-2'> -->
						<div class = 'col-xs-10 '>
							<div class='modal-title'> </div>
							<div class='modal-subtitle'></div>
						</div>
					</div>

					<!--  -->
					<div class='row'>
						<div class = 'col-xs-2'>
						</div>
						<div class='col-xs-10 modal-explanation'>
						</div>
					</div>

					<!-- / -->
				</div>
				<!-- /Modal body -->
				<div class='row modal-button'>
						<button type="button" href='#' class="btn btn-default">Donate Now</button>
				</div>

			</div> 
			<!-- /Modal content -->
		</div>
	</div>
	<!-- /Product modal -->

<!-- 	<div class='org-iw-content'>
		<div class='row iw-title'>

		</div>

		<div class='row iw-content'>

		</div>
	</div> -->


	<!-- Donate modal -->
	<div id="dona-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<!-- Modal body -->
				<div class="modal-body">
					<div class='row'>
						<div class = 'col-xs-2'>
							<img class='modal-img'>
						</div>
						<!-- <div class = 'col-xs-2'> -->
						<div class = 'col-xs-10 '>
							<div class='modal-title'> </div>
							<div class='modal-subtitle'></div>
						</div>
					</div>

					<!--  -->
					<div class='row'>
						<div class = 'col-xs-2'>
						</div>
						<div class='col-xs-10 modal-explanation'>
						</div>
					</div>

					<!-- / -->
				</div>
				<!-- /Modal body -->
				<div class='row modal-button'>
						<button type="button" href='#' class="btn btn-default">Donate Now</button>
				</div>

			</div> 
			<!-- /Modal content -->
		</div>
	</div>
	<!-- /Donate modal -->

	




{% endblock %}

<!-- JS -->
{% block js %}
	{{block.super}}
 	<!-- Google Map API -->	
	<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDVvMEZC9f6v9E_Q6jzqXgo_gg06cuxclM&callback=initialize" async defer></script>

	<!-- // <script src="{% static 'js/infobox.js' %}"></script> -->

    <script src="{% static 'js/map2.js' %}"></script>
 	<script>

 		// list of Orgs (JSON) 
 		var orgs = {{orgs_json|safe}};
 		console.log(orgs);  // Object {orgs: Array[2]}
 		// console.log(a.orgs);  // [Object, Object]
 		// console.log(a.orgs[0]); // Object {model: "dashboard.organization", pk: 1, fields: Object}

 		// console.log(a.orgs[0].fields.name);
 		var org_products_dic = {{org_product_json|safe}};
 		console.log(org_products_dic[0])
 		// console.log(org_products_dic[1][0].fields);
 		var products = {{products_json|safe}};


 	</script>


{% endblock %}   

