{% extends "base.html" %}


{% block content %}
<div class = "panel" id = "profile_panel">
<div class = "panel-heading gray-background" style="padding-top:30px"> 
	<div class="row"> 
		<div class="col-sm-2">
		{% if userProfile.picture %}
			<img src = "socius/dashboard/media/{{Organization.picture}}" width = "150px" height = "150px">
		{% endif %}
		</div>
		<div class="col-sm-8">	
			<h3><b>{{ Organization.org_username }} </b></h3>
			<h5> Name: {{Organization.name}} </h5>
			<h5> Addr: {{Organization.address}} </h5>
			<h5> phone: {{Organization.phone_number}} </h5>
			<h5> url: {{Organization.site_url}} </h5>

		</div>
		<div class="col-sm-2">
			<div>
				<a href = "#"> Update Info </a>
			</div>

		</div>
	</div>
</div>

{% endblock %}