{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class='auth-content'>

	<div class='auth-welcome'>
		Organization
	</div>
	<div class='auth-explanation'>
		Register or login to view your organization page. 
	</div>

	<div class="row">
		<!-- Registration form -->
		<div class="col-xs-6">
		    <h3 class="form-signup-heading">Register Organization</h3>
		    <form method="post" enctype="multipart/form-data" action="{% url 'org_user_register' %}">
		        <!-- User info fields -->
		        <table class="table">
		        <div style='color:blue'> User Information</div> 
		        <tbody>
		        {% for u_field in userProfileForm.visible_fields %}
		            <tr class="col-md-3">{{u_field.label}} {{u_field}}</tr>
		            <div class="text-danger">{{u_field.errors}}</div>
		        {% endfor %}
 				</tbody>
		        </table>
 	            <table class="table">
 	           	<div style='color:blue'> Organization Information </div>
		        <tbody>
		        {% for o_field in orgForm.visible_fields %}
		            <tr class="col-md-3">{{o_field.label}} {{o_field}}</tr>
		            <div class="text-danger">{{o_field.errors}}</div>
		        {% endfor %}

		        {% csrf_token %}
		        </tbody>
		        </table>
		        <button type="submit" class="btn btn-success">Register</button>
		    </form>
		</div> 
		<!-- /Registration form -->

		<!-- Login form -->
		<div class="col-xs-6">
		    <h3 class="form-signin-heading">Already a member?</h3>

		    <form method="post" enctype="multipart/form-data" action="{% url 'login' %}">
		    	<table>
				<tr>
				    <td>Username</td>
				    <td>{{form.username }}</td>
				</tr>
				<tr>
				    <td>Password</td>
				    <td>{{form.password }}</td>
				</tr>
		    	</table>
		    	{% if form.errors %}
		    	{% if not userProfileForm.errors %}	
					<div class="text-danger">
						<div> Incorrect user name and password. </div> 		
					</div>
				{% endif %}
				{% endif %}
			        {% csrf_token %}
		        
		        <button type="submit" class="btn btn-primary">Login</button>
		    </form>
		</div> 
		<!-- /Login form -->

	</div> 
</div>
{% endblock %}

<!-- JS -->
{% block js %}
	{{block.super}}
<!-- 
	<script>
		$('#login-modal').modal();
	</script>
 -->
{% endblock %}   